<div class="page-wrapper">
        <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <!-- BEGIN HEADER -->
                    <div class="page-header">
                        <!-- BEGIN HEADER TOP -->
                        <div class="page-header-top">
                            <div class="container">
                                <!-- BEGIN LOGO -->
                                <div class="page-logo">
                                    <a href="index.html">
                                        <img src="assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default">
                                    </a>
                                </div>
                                <!-- END LOGO -->
                                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                                <a href="javascript:;" class="menu-toggler"></a>
                                <!-- END RESPONSIVE MENU TOGGLER -->
                                <!-- BEGIN TOP NAVIGATION MENU -->
                                <div class="top-menu">
                                    <ul class="nav navbar-nav pull-right">
                                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                                        <!-- END NOTIFICATION DROPDOWN -->
                                        <!-- BEGIN TODO DROPDOWN -->
                                        <!-- END TODO DROPDOWN -->
                                        <!-- BEGIN INBOX DROPDOWN -->
                                        <!-- END INBOX DROPDOWN -->
                                        <!-- BEGIN USER LOGIN DROPDOWN -->
                                        <li class="dropdown dropdown-user dropdown-dark">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <img alt="" class="img-circle" src="assets/layouts/layout3/img/avatar9.jpg">
              
                                                <span class="username username-hide-mobile">@UsersDetails.UserName</span>
              
              
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-default">
              
              
                                                <li>
                                                    <a href="page_user_lock_1.html">
                                                        <i class="icon-user"></i>  UsersDetails
                                                    </a>
                                                </li>
                                                <li class="divider"> </li>
                                               
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                                            <i class="icon-key"></i> Log Out
                                                        </a>
                                                    </li>
                                                
              
                                            </ul>
                                        </li>
                                        <!-- END USER LOGIN DROPDOWN -->
                                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                        <!-- END QUICK SIDEBAR TOGGLER -->
                                    </ul>
                                </div>
                                <!-- END TOP NAVIGATION MENU -->
                            </div>
                        </div>
                        <!-- END HEADER TOP -->
                        <!-- BEGIN HEADER MENU -->
                        <div class="page-header-menu">
                            <div class="container">
              
                                <!-- BEGIN MEGA MENU -->
                                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                                <div class="hor-menu  ">
                                    <ul class="nav navbar-nav">
                                        <li id="li_Dashboard" class="menu-dropdown classic-menu-dropdown active ">
                                            <a href="">
                                                Dashboard
                                                <span class="arrow"></span>
                                            </a>
              
                                        </li>
                                        <li aria-haspopup="true" id="li_SetUp" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-briefcase"></i> Set Up
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left" id="SetupSubAccount">
                                                <li aria-haspopup="true" class="dropdown-submenu ">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        <i class="icon-basket"></i> Crud Operations
                                                        <span class="arrow"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li aria-haspopup="true" class="" id="li_AccountType">
                                                            <a routerLink="list"  class="nav-link ">
                                                                <i class="icon-home"></i> List
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class="">
                                                            <a href="" class="nav-link ">
                                                                <i class="icon-basket"></i> Main Account
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class="">
                                                            <a href="" class="nav-link ">
                                                                <i class="icon-tag"></i> Sub Account
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class="">
                                                            <a href="" class="nav-link ">
                                                                <i class="icon-graph"></i> Cost Center
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class="">
                                                            <a href="" class="nav-link ">
                                                                <i class="icon-graph"></i> Detail Account
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
              
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END MEGA MENU -->
                            </div>
                        </div>
                        <!-- END HEADER MENU -->
                    </div>
                    <!-- END HEADER -->
                </div>
              </div>
          
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <div class="page-head">
                            <div class="container">
                                <!-- BEGIN PAGE TITLE -->
                                <div class="page-title">
                                    <h1>{{title}} </h1>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container-fluid">

                                <!-- BEGIN PAGE BREADCRUMBS -->
                                 
                        <router-outlet></router-outlet>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
                    <!-- BEGIN QUICK SIDEBAR -->
                    <!-- END QUICK SIDEBAR -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <!-- BEGIN FOOTER -->
                <!-- BEGIN PRE-FOOTER -->
                <!-- END PRE-FOOTER -->
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        2016 &copy; Metronic Theme By
                        <a target="_blank" href="">Keenthemes</a> &nbsp;|&nbsp;
                        <a href="" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
    <!-- BEGIN QUICK NAV -->
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

  
 
    

    
    


 

