<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12 ">
            <div class="portlet box  ">

                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label>Account Type Code </label>
                                    <input type="text" id="accountcode" class="form-control" placeholder="Enter Code">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Account Type Detail </label>
                                    <input type="text" id="acctypedetail" class="form-control" placeholder="Detail" oninput="checkDetail()" onblur="checkDetail()">

                                </div>

                            </div>
                        </div>
                    
                        
                       
                    </div>
                    <div class="form-actions right">
                       
                        <button type="submit"  onclick="addAccountType()" id="submitbtn" class="btn green">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <!-- END SAMPLE FORM PORTLET-->
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light ">
                <table id="acctypetbl" class="table table-bordered table-hover" >
                    <thead>
                
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Description</th>
                         
                        </tr>
                    </thead>
                    <tbody *ngFor="let p of ListTodo">
                       
                                <tr>
                                    <td>{{p._id}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.completed}}</td>
                                    <td>{{p.description}}</td>
                
                                </tr>
                
                
                
                    </tbody>
                
                </table>

            </div>
            <!-- END SAMPLE FORM PORTLET-->
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <!-- END SAMPLE FORM PORTLET-->
        </div>

    </div>

</div>